! ------------------------------------------------------------------------------
! Display SETTINGS - Set according to monitor screen and resolution -
! ------------------------------------------------------------------------------
Xft.antialias:        1
Xft.dpi:              141
Xft.hinting:          1
Xft.hintstyle:        hintslight
Xft.autohint:         0
Xft.rgba:             rgb
Xft.lcdfilter:        lcddefault
     
!all rgba:            unknown rgb bgr vrgb vbgr none
!all hintstyles:      hintfull hintmedium hintslight hintnone

! 1920x1080x13.3   dpi: 166
! 1920x1080x14     dpi: 157
! 1920x1080x15.6   dpi: 141
! 1920x1080x21     dpi: 105
! 1920x1080x24     dpi: 92

! -------------------------------------------------------------------------------
! urxvt config
! -------------------------------------------------------------------------------
*.font: xft:Fira Code:size=10
*.letterSpace: -1
*.cursorBlink: true
*.scrollBar: false
*loginShell: true
! set transparency
*depth: 32
*background: rgba:0000/0000/0000/d000
*transparent: false
! do not scroll with output
*scrollTtyOutput: false
! scroll back to the bottom on keypress
*scrollTtyKeypress: true
!--------------------------------------------------------------------------------
!! Tango_Dark color scheme
!
*.foreground:  #ffffff
*.background:  #000000
*.cursorColor: #ffffff
!
! Black
*.color0:      #000000
*.color8:      #555753
! Red
*.color1:      #cc0000
*.color9:      #ef2929
! Green
*.color2:      #4e9a06
*.color10:     #8ae234
! Yellow
*.color3:      #c4a000
*.color11:     #fce94f
! Blue
*.color4:      #3465a4
*.color12:     #729fcf
! Magenta
*.color5:      #75507b
*.color13:     #ad7fa8
! Cyan
*.color6:      #06989a
*.color14:     #34e2e2
! White
*.color7:      #d3d7cf
*.color15:     #eeeeec
! Bold, Italic, Underline
*.colorBD:     #ffffff
!*.colorIT:
!*.colorUL:
